Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.14
    hooks:
      - id: mdformat

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black

  - repo: https://github.com/s0undt3ch/python-tools-scripts
    rev: "0.12.0"
    hooks:
      - id: tools
        alias: actionlint
        name: Lint GitHub Actions Workflows
        files: "^.github/workflows/"
        types:
          - yaml
        args:
          - pre-commit
          - actionlint

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '^.github/workflows/.*$'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Update develop branch for the v2024.01.04 release
  CHANGELOG.md
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2024.01.04 release sha256sum
  README.rst
Due: none

Fix DEBIAN Keyring url
  bootstrap-salt.sh
Due: shellcheck

Update bootstrap-salt.sh
  bootstrap-salt.sh
Due: shellcheck

Remove automated PR against salt repo at release
  .github/workflows/release.yml
  RELEASE.md
Due: generate-actions-workflow

Update actions
  .github/workflows/ci.yml
  .github/workflows/templates/ci-tail.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Don't sort lists and dicts, as order of items matters
  bootstrap-salt.sh
Due: shellcheck

Added support for Amazon 2023 and cleaned up with shellcheck
  bootstrap-salt.sh
Due: shellcheck

Initial removal of support for Python 2.7, and pre-Neon support (since assumption is they are Python 2 mostly)
  bootstrap-salt.sh
Due: shellcheck

Pre-commit clean up
  bootstrap-salt.sh
Due: shellcheck

Updated workflows for Debian 12, Fedora 39, Amazon 2023
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Test build to check PR process
  bootstrap-salt.sh
Due: shellcheck

Trying to get a clean build
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Update minimum versions and correct Redat 7 base key
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Updated 3005.1 to 3005.5
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: shellcheck

Added macos-12, removed Photon-3, and added further cleanup of old OSs and Salt versions
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Removed support for SLES 12 and updated pre-commit versions
  .pre-commit-config.yaml
  AUTHORS.rst
  CONTRIBUTING.md
  Dockerfile
  Vagrantfile
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.yml
  requirements/release.in
  requirements/release.txt
  tests/conftest.py
Due: shellcheck

Updated ruby to version 3.2.3, a supported version of ruby
  .github/workflows/test-bsd.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

Corrected for fedora_provision_command
  kitchen.yml
Due: none

Fix __PY_VERSION_REPO
  bootstrap-salt.sh
Due: shellcheck

Fix up use of dnf-utils which no longer exists
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Removed use of yum-utils and dnf-utils (doesn't exist)
  bootstrap-salt.sh
Due: shellcheck

Updated test for yum-utils install
  bootstrap-salt.sh
Due: shellcheck

Removed use of procps for RedHat 9 and above, since only exists for 8 and below
  bootstrap-salt.sh
Due: shellcheck

cleaning up all the POST_NEON checks since Salt Neon (3000) was released 3 years ago and anything older is no longer supported.
  bootstrap-salt.sh
Due: shellcheck

include salt version in repo urls.
  bootstrap-salt.sh
Due: shellcheck

remove extra slash in URL
  bootstrap-salt.sh
Due: shellcheck

removing old_stable from tests.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Ensure find command available in RHEL-based
  bootstrap-salt.sh
Due: shellcheck

Fix script to support installing RC on Windows
  bootstrap-salt.ps1
Due: none

Add working directory
  bootstrap-salt.ps1
Due: none

Remove pythonVersion option from test
  kitchen.windows.yml
Due: none

Try to get the bootstrap to run on Windows runner
  CHANGELOG.md
  bootstrap-salt.ps1
  kitchen.windows.yml
Due: none

Revert "Merge pull request #1983 from Dudek-AMS/develop"
  bootstrap-salt.sh
Due: shellcheck
