Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

correct name for the package.
  bootstrap-salt.sh
Due: shellcheck

move the linux-devel.x86_64 package back to install section. remove the upgrade function.
  bootstrap-salt.sh
Due: shellcheck

do not test git-master on photon-3, tornado build issues due to docker and kernel headders.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

removing reference to armhf
  README.rst
Due: none

swapping out SaltProject for Salt Project
  README.rst
Due: none

Upgrade linux-devel.
  bootstrap-salt.sh
Due: shellcheck

cleanup old information in the README.rst file
  README.rst
Due: none

A couple fixes for git-master tests on PhotonOS 3.
  bootstrap-salt.sh
Due: shellcheck

Moving quick start scripts to bootstrap repo.
  salt-quick-start.ps1
  salt-quick-start.sh
Due: none

Need to install gawk on OpenSUSE Tumblewee
  bootstrap-salt.sh
Due: shellcheck

fix debian arm64 apt repo selection logic
  bootstrap-salt.sh
Due: shellcheck

add Debian 12 bookworm codename
  bootstrap-salt.sh
Due: shellcheck

temporarily use bullseye packages until bookworm packages are available
  bootstrap-salt.sh
Due: shellcheck

Suppress progress bar
  salt-quick-start.ps1
Due: none

Fix global variable
  salt-quick-start.ps1
Due: none

Mirror Linux output, display root_dir
  salt-quick-start.ps1
Due: none

Add asterisks to the output
  salt-quick-start.ps1
Due: none

Update the location for the configuration directory for salt-call in the Saltfile
  salt-quick-start.sh
Due: none

Update requirements
  requirements/release.txt
Due: none

Update develop branch for the v2023.11.07 release
  CHANGELOG.md
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2023.11.07 release sha256sum
  README.rst
Due: none

checking out stable branch on update-s3-bucket job
  .github/workflows/release.yml
Due: generate-actions-workflow

Update develop branch for the v2023.11.16 release
  CHANGELOG.md
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2023.11.16 release sha256sum
  README.rst
Due: none

Add arm support for Debian 10
  bootstrap-salt.sh
Due: shellcheck

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: bootstrap-salt\.sh
