Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat

  - repo: https://github.com/s0undt3ch/python-tools-scripts
    rev: "0.18.6"
    hooks:
      - id: tools
        alias: actionlint
        name: Lint GitHub Actions Workflows
        files: "^.github/workflows/"
        types:
          - yaml
        args:
          - pre-commit
          - actionlint

  - repo: https://github.com/jazzband/pip-tools
    rev: 7.3.0
    hooks:
      - id: pip-compile
        files: ^requirements/release\.(in|txt)$
        args:
          - requirements/release.in

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        name: Rewrite Code to be Py3.9+
        args: [--py39-plus]

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.12.0
    hooks:
      - id: reorder-python-imports
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        args: []

#  - repo: https://github.com/PyCQA/flake8
#    rev: 3.9.2
#    hooks:
#      - id: flake8
#        language_version: python3
#        additional_dependencies:
#          - flake8-mypy-fork
#          - flake8-docstrings
#          - flake8-typing-imports
#
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.0.0
#    hooks:
#      - id: mypy
#        alias: mypy-tools
#        name: Run mypy against tools
#        files: ^tools/.*\.py$
#        #args: [--strict]
#        additional_dependencies:
#          - attrs
#          - rich
#          - types-attrs
#          - types-pyyaml
#          - types-requests

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '^.github/workflows/.*$'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Update filelock to 3.20.3
  requirements/release.in
  requirements/release.txt
Due: none

Fix set-output warning
  .github/workflows/ci.yml
Due: generate-actions-workflow

Fix some warnings in CI
  .github/workflows/ci.yml
  .github/workflows/templates/ci-tail.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Update requests to >2.33.0
  .pre-commit-config.yaml
  requirements/release.in
  requirements/release.txt
Due: none

Update pygments to >= 2.20.0
  requirements/release.in
  requirements/release.txt
Due: none

fix(windows): handle prerelease Salt dirs in bootstrap-salt.ps1
  bootstrap-salt.ps1
Due: none

fix(bootstrap): avoid SIGPIPE 141 on exit after tee logging teardown
  bootstrap-salt.sh
Due: shellcheck

fix(bootstrap): pick GA-only CalVer for Photon/macOS onedir listing
  bootstrap-salt.sh
Due: shellcheck

Update develop branch for the v2026.05.01 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2026.05.01 release sha256sum
  README.rst
Due: none

Update urllib3 to 2.7.0
  requirements/release.in
  requirements/release.txt
Due: none

Update idna to >= 3.15
  requirements/release.in
  requirements/release.txt
Due: none

fix(bootstrap): install git deps from linux.lock or linux.txt
  bootstrap-salt.sh
Due: shellcheck

Update develop branch for the v2026.05.20 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2026.05.20 release sha256sum
  README.rst
Due: none

fix(bootstrap): support Salt 3008+ major versions and fix repo/key issues
  bootstrap-salt.sh
Due: shellcheck

ci: add Salt 3008 and Ubuntu 26.04 to test matrix
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

fix(bootstrap): use shared pip-based git install on Photon OS, fix Ubuntu 26.04 CI pip breakage
  .github/workflows/test-linux.yml
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

fix(bootstrap): rename apt keyring to .gpg, drop SHA1/MD5, remove dead md5sum code
  bootstrap-salt.ps1
  bootstrap-salt.sh
  salt-quick-start.ps1
  tests/integration/test_installation.py
Due: shellcheck

ci: swap tested 3006 point release from 3006.8 to 3006.24
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

Update develop branch for the v2026.07.10 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2026.07.10 release sha256sum
  README.rst
Due: none
