Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
  language: docker_image

Update to new release 2021.09.17
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2021.09.17 release sha256sum
  README.rst
Due: none

Re-add CI for Ubuntu-16
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Sort help alphabetically
  bootstrap-salt.sh
Due: shellcheck

ci(kitchen): add `ssh-rsa` to `PubkeyAcceptedAlgorithms` on Arch Linux
  kitchen.yml
Due: none

Fix git master install on alpine 3.12+
  bootstrap-salt.sh
Due: shellcheck

fix pre-commit
  README.rst
Due: none

ci(centos-stream8): add platform
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Add CentOS GPG key for RHEL7 for successful builds
  bootstrap-salt.sh
Due: shellcheck

fix fetch url
  bootstrap-salt.sh
Due: shellcheck

fix quotes
  bootstrap-salt.sh
Due: shellcheck

fix key import
  bootstrap-salt.sh
Due: shellcheck

fix lint for sh
  bootstrap-salt.sh
Due: shellcheck

correct install location
  bootstrap-salt.sh
Due: shellcheck

correct install
  bootstrap-salt.sh
Due: shellcheck

add rhel ubi tests and needed package
  bootstrap-salt.sh
Due: shellcheck

fix indentation, remove unnecessary IFS changes
  bootstrap-salt.sh
Due: shellcheck

Add openrc to alpine:latest dependencies
  bootstrap-salt.sh
Due: shellcheck

add rhel ubi tests and needed package
  kitchen.yml
Due: none

add tests to ci
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

ci(kitchen): add `ssh-rsa` to `PubkeyAcceptedAlgorithms` on Tumbleweed
  kitchen.yml
Due: none

Add support for Raspbian 11
  bootstrap-salt.sh
Due: shellcheck

Create new process with all command-line parameters when UAC is enabled
  bootstrap-salt.ps1
Due: none

Restored extra line
  bootstrap-salt.ps1
Due: none

ci(proxy): fix setting up WinRM
  .github/workflows/kitchen.windows.yml
  kitchen.windows.yml
Due: none

ci(freebsd): replace `12.2` with newly released `12.3` box
  .github/workflows/kitchen.vagrant.yml
  kitchen.vagrant.yml
  kitchen.yml
Due: none

ci(proxy): replace deprecated `windows-2016` with `windows-2022`
  .github/workflows/kitchen.windows.yml
  kitchen.windows.yml
Due: none

ci(vagrant): use conditional local settings (inc. `synced_folders`)
  kitchen.vagrant.yml
Due: none

ci(kitchen): add `ssh-rsa` to `PubkeyAcceptedAlgorithms` on Gentoo
  kitchen.yml
Due: none

Support Non-LTS Ubuntu 21.04 & 21.10
  bootstrap-salt.sh
Due: shellcheck

Add CI for Ubuntu-21.10 and remove for 21.04
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Enable Kali 2021
  bootstrap-salt.sh
Due: shellcheck

Add CI for v3004
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/kitchen.windows.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow

Remove 3001 from CI: EoL
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/kitchen.windows.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
