Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

ci: lint bootstrap-salt.ps1 with PSScriptAnalyzer
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

ci: test bootstrap-salt.ps1 -ConfigureOnly and -RepoUrl on Windows
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

fix(bootstrap.ps1): install from local, SMB and FTP -RepoUrl sources
  .github/workflows/test-windows.yml
  bootstrap-salt.ps1
Due: generate-actions-workflow

docs: note that -RepoUrl only verifies hashes for Artifactory sources
  README.rst
  bootstrap-salt.ps1
Due: none

ci: skip two noisy PSScriptAnalyzer rules for bootstrap-salt.ps1
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

ci: make the PSScriptAnalyzer job output clearer
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

fix(bootstrap.ps1): avoid a double slash in the installer URL
  bootstrap-salt.ps1
Due: none

ci: test that -Minion and -Master reach the Windows installer
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

ci: unit test bootstrap-salt.ps1 with Pester
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
  .github/workflows/templates/generate.py
  tests/powershell/bootstrap-salt.Tests.ps1
Due: generate-actions-workflow

test: run bootstrap-salt.sh function tests under sh instead of bash
  tests/integration/test_installation.py
Due: none

test: add ShellSpec specs for bootstrap-salt.sh
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
  .github/workflows/templates/generate.py
  .shellspec
  tests/shell/repo_url_spec.sh
  tests/shell/spec_helper.sh
  tests/shell/version_helpers_spec.sh
Due: generate-actions-workflow

ci: replace macos-14 with macos-26 and macos-26-intel runners
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-macos.yml
Due: generate-actions-workflow

ci: fail pipeline status when a required job fails
  .github/workflows/ci.yml
  .github/workflows/templates/ci-tail.yml
Due: generate-actions-workflow

ci: derive pipeline status from job results, not artifacts
  .github/workflows/ci.yml
  .github/workflows/templates/ci-tail.yml
  .github/workflows/templates/ci.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

deps: bump urllib3 to 2.8.0 and virtualenv to 21.13.0
  requirements/release.in
  requirements/release.txt
Due: none

Update develop branch for the v2026.10.02 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2026.10.02 release sha256sum
  README.rst
Due: none

feature(bootstrap): add -e/-PipRequirements to install PyPI packages before Salt starts
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
  README.rst
  bootstrap-salt.ps1
  bootstrap-salt.sh
  tests/powershell/bootstrap-salt.Tests.ps1
  tests/shell/pip_requirements_spec.sh
Due: generate-actions-workflow, shellcheck

Update develop branch for the v2026.10.08 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2026.10.08 release sha256sum
  README.rst
Due: none

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: bootstrap-salt\.sh
