Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

added functions from SLES12 for SLES15, rewrote detection of SP Version
  al :q!
  bootstrap-salt.sh
Due: shellcheck

use grep instead of sed for SP version
  bootstrap-salt.sh
Due: shellcheck

simplyfy checking of error codes from zypper
  bootstrap-salt.sh
Due: shellcheck

fixed typo in return code comparision
  bootstrap-salt.sh
Due: shellcheck

removed file created accidentally
  al :q!
Due: none

fixes indentation
  bootstrap-salt.sh
Due: shellcheck

added changes from current develop version
  bootstrap-salt.sh
Due: shellcheck

fixed package libzmq name
  bootstrap-salt.sh
Due: shellcheck

fixes git-based installation on sles 15 systems
  bootstrap-salt.sh
Due: shellcheck

changed function for setup.py in order to use python3
  bootstrap-salt.sh
Due: shellcheck

use opensuse function
  bootstrap-salt.sh
Due: shellcheck

cleanup of minor changes
  bootstrap-salt.sh
Due: shellcheck

readded empty line
  bootstrap-salt.sh
Due: shellcheck

removed blank line
  bootstrap-salt.sh
Due: shellcheck

Handle salt 3000
  bootstrap-salt.sh
Due: shellcheck

Re-enable github actions workflow.
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .github/workflows/templates/lint.yml
  .github/workflows/templates/linux.yml
  .github/workflows/templates/main.yml
  .github/workflows/templates/pre-commit.yml
Due: generate-actions-workflow

Support installing stable releases post version schema change
  bootstrap-salt.sh
Due: shellcheck

Salt 3000 is out, remove it from the blacklist
  .drone.jsonnet
  .drone.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

We need to install tornado using pip on 2019.2 python3
  bootstrap-salt.sh
Due: shellcheck

Arch is on Py3.8, which, salt does not support yet
  .drone.jsonnet
  .drone.yml
Due: none

Update change log and authors
  AUTHORS.rst
  ChangeLog
Due: none

Bump version for release
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

Add sha256sum for the latest v2020.02.24 release
  README.rst
Due: none

lock in virtualenv version (newer does not work)
  bootstrap-salt.sh
Due: shellcheck

hard-code supported version of msgpack
  bootstrap-salt.sh
Due: shellcheck

fix order of installing specific version of msgpack
  bootstrap-salt.sh
Due: shellcheck

Update Tornado release timeline
  README.rst
Due: none

fix(suse): updates for opensuse tumbleweed
  bootstrap-salt.sh
Due: shellcheck

Set python version when unset
  bootstrap-salt.sh
Due: shellcheck

make requested changes
  bootstrap-salt.sh
Due: shellcheck

Salt v3000.1 was released
  bootstrap-salt.sh
Due: shellcheck

Recommend `master` salt branch instead of `develop`
  CONTRIBUTING.md
  README.rst
Due: none

Debian 8 unsupported with Python 3
  README.rst
Due: none

Update python install step for python 3
  README.rst
Due: none

Fix, decode binary to ascii
  README.rst
Due: none

Use python3 instead of python
  README.rst
Due: none

Separate python 2 and python 3 install
  README.rst
Due: none

KDE neon has been 18.04 based for a while now
  README.rst
  bootstrap-salt.sh
Due: shellcheck

add detection for neon based on ubuntu 20.04
  bootstrap-salt.sh
Due: shellcheck

more accurate deps parsing for FreeBSD git installs
  bootstrap-salt.sh
Due: shellcheck
