Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

Doing a full rebuild
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README with latest script help output
  README.rst
Due: none

fix almalinux
  bootstrap-salt.sh
Due: shellcheck

Update repo links in winbootstrap script
  README.rst
  bootstrap-salt.ps1
Due: none

Update requirements to address security issues
  .pre-commit-config.yaml
  requirements/release.txt
Due: none

remove tab char
  bootstrap-salt.sh
Due: shellcheck

Fix powershell instructions
  README.rst
Due: none

Remove support for macos-12, as deprecated by github
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-macos.yml
Due: generate-actions-workflow

Update develop branch for the v2025.02.24 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2025.02.24 release sha256sum
  README.rst
Due: none

use system name as reported by Photon 4/5
  bootstrap-salt.sh
Due: shellcheck

install wget as dependency for Photon 4/5
  bootstrap-salt.sh
Due: shellcheck

Get versions correctly
  tests/conftest.py
  tests/requirements.txt
Due: none

Fix getting versions on Windows
  .github/workflows/test-windows.yml
  bootstrap-salt.ps1
Due: generate-actions-workflow

Update changelog
  CHANGELOG.md
Due: none

Add new author, update email
  AUTHORS.rst
Due: none

Add another PR and a few more emails
  AUTHORS.rst
  CHANGELOG.md
Due: none

Update develop branch for the v2025.09.03 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2025.09.03 release sha256sum
  README.rst
Due: none

Remove hardware clock sync
  bootstrap-salt.sh
Due: shellcheck

Update deps that contain CVEs
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
  requirements/release.in
  requirements/release.txt
Due: generate-actions-workflow

replace the --global-option command with --config-settings since --global-option has been removed in pip 23.3
  bootstrap-salt.sh
Due: shellcheck

remove manually updated script version
  bootstrap-salt.sh
Due: shellcheck

Run pre-commit
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/scripts/update-release-shasum.py
  .github/workflows/templates/generate.py
  CODE_OF_CONDUCT.md
  requirements/release.txt
  tests/conftest.py
  tools/pre_commit.py
  tools/release.py
Due: generate-actions-workflow

Build workflow
  .github/workflows/ci.yml
Due: generate-actions-workflow

Inlucde filename in shasum file
  .github/workflows/release.yml
Due: generate-actions-workflow

Update changlog and author to prep for release
  AUTHORS.rst
  CHANGELOG.md
Due: none

Update develop branch for the v2025.12.05 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: bootstrap-salt\.sh
