Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

fix(bootstrap): run apt-get update before onedir deps on ALT Linux
  bootstrap-salt.sh
Due: shellcheck

fix(bootstrap): resolve bare major version for ALT Linux onedir installs
  bootstrap-salt.sh
Due: shellcheck

fix(bootstrap): symlink ALT Linux onedir binaries into /usr/bin
  bootstrap-salt.sh
Due: shellcheck

fix(bootstrap): fetch ALT Linux onedir tarball from artifactory, fix arm64 naming
  bootstrap-salt.sh
Due: shellcheck

feat(altlinux): add ALT Linux 10/11 support
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  AUTHORS.rst
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

fix(bootstrap): map ALT Linux os-release ID to distro name
  bootstrap-salt.sh
Due: shellcheck

Update develop branch for the v2026.09.03 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2026.09.03 release sha256sum
  README.rst
Due: none

fix(bootstrap): port ALT Linux onedir fixes to Arch Linux
  bootstrap-salt.sh
Due: shellcheck

ci: drop debian-11 (EOL), add debian-13 testing
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

ci: remove leftover debian-11 entries from generate.py
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

fix(bootstrap): create per-role systemd units in install_arch_linux_onedir_post()
  bootstrap-salt.sh
Due: shellcheck

feat(archlinux): add Arch Linux to the CI test matrix
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-linux.yml
Due: generate-actions-workflow

fix(bootstrap): map Photon OS os-release ID to distro name
  bootstrap-salt.sh
  tests/integration/test_installation.py
Due: shellcheck

ci: disable ShellCheck SC2337 for bootstrap-salt.sh
  bootstrap-salt.sh
Due: shellcheck

test: avoid Path.write_text(newline=) in os-release detection test
  tests/integration/test_installation.py
Due: none

feat(bootstrap): add -y/-Y flags to install salt-ssh and salt-proxy
  README.rst
  bootstrap-salt.sh
Due: shellcheck

Update develop branch for the v2026.09.28 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2026.09.28 release sha256sum
  README.rst
Due: none

fix(bootstrap): honor -R custom repo URL for RHEL/CentOS/Fedora salt.repo
  bootstrap-salt.sh
  tests/integration/test_installation.py
Due: shellcheck

ci: verify -R custom repo URL ends up in the repo definition
  .github/workflows/test-linux.yml
Due: generate-actions-workflow

fix(bootstrap.ps1): fix config dir paths and invalid color in -ConfigureOnly
  bootstrap-salt.ps1
  tests/integration/test_installation.py
Due: none

Remove limit on parallel runners
  .github/workflows/test-linux.yml
Due: generate-actions-workflow

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: bootstrap-salt\.sh
