Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

simpler non-jq dependent solution for FreeBSD dependencies
  bootstrap-salt.sh
Due: shellcheck

Add support for the upcoming Sodium release
  bootstrap-salt.sh
Due: shellcheck

Don't even try to test Salt's master branch under Py2
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

KDE neon has been 18.04 based for a while now
  README.rst
  bootstrap-salt.sh
Due: shellcheck

add detection for neon based on ubuntu 20.04
  bootstrap-salt.sh
Due: shellcheck

Add @ender8282 to AUTHORS
  AUTHORS.rst
Due: none

Update python install step for python 3
  README.rst
Due: none

Fix, decode binary to ascii
  README.rst
Due: none

Use python3 instead of python
  README.rst
Due: none

Separate python 2 and python 3 install
  README.rst
Due: none

Add @gdebunne to AUTHORS
  AUTHORS.rst
Due: none

Recommend `master` salt branch instead of `develop`
  CONTRIBUTING.md
  README.rst
Due: none

Add @DmitryKuzmenko to AUTHORS
  AUTHORS.rst
Due: none

Include the upcoming Sodium release in the check
  bootstrap-salt.sh
Due: shellcheck

Also do not test Salt >= 3000 under Python 2
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Additional blacklisting
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Reference `master` instead of `develop` branch of Salt
  README.rst
Due: none

Use current ius-release links
  AUTHORS.rst
  bootstrap-salt.sh
Due: shellcheck

Fix Amazon 2 to respect -x installs
  bootstrap-salt.sh
Due: shellcheck

Test bootstrapped Salt and Python versions are the intended ones
  .kitchen.yml
  tests/conftest.py
  tests/integration/test_connection.py
  tests/integration/test_installation.py
Due: none

Fix Fedora stable installs for older releases
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Fedora doesn't keep old versions around
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Fix CentOS 8 installations
  bootstrap-salt.sh
Due: shellcheck

Enable a few more builds
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

Default Debian 10 to Py3
  bootstrap-salt.sh
Due: shellcheck

Only test Opensuse 15 under Py3
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Remove old cruft
  .drone.jsonnet
  .drone.yml
  Dockerfile.drone-builds
  appveyor.yml
Due: none

Salt v3000 is not Py3.8 ready
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Fix Arch Linux installs
  bootstrap-salt.sh
Due: shellcheck

Update AUTHORS and ChangeLog
  AUTHORS.rst
  ChangeLog
Due: none

Bump version for release
  bootstrap-salt.sh
Due: shellcheck

Increase job timeout
  .github/workflows/main.yml
  .github/workflows/templates/linux.yml
Due: generate-actions-workflow

Add sha256sum for the latest stable release
  README.rst
Due: none

Typo in WARN message
  bootstrap-salt.sh
Due: shellcheck

fix for cumulus 4.1
  bootstrap-salt.sh
Due: shellcheck

give more useful error message on download failure, make curl fail on failure
  bootstrap-salt.sh
Due: shellcheck

update pipelines
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

Default Ubuntu 20.04 to Py3
  bootstrap-salt.sh
Due: shellcheck

don't hardfail -R with -x python3 on centos
  bootstrap-salt.sh
Due: shellcheck

make 2020.06.23 release
  AUTHORS.rst
  ChangeLog
  README.rst
  RELEASE.md
  bootstrap-salt.sh
Due: shellcheck
