Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

Remove end of line from grep for 3005.
  bootstrap-salt.sh
Due: shellcheck

removing python 3.6 related code which is no longer needed.
  bootstrap-salt.sh
Due: shellcheck

Need to set STABLE_REV to ONEDIR_REV when install_gentoo_onedir is called.
  bootstrap-salt.sh
Due: shellcheck

suggested fixes
  bootstrap-salt.sh
Due: shellcheck

All Mac packages are now signed.
  bootstrap-salt.sh
Due: shellcheck

Don't use GITHUB_OUTPUT
  .github/workflows/release.yml
  .github/workflows/scripts/cut-release.py
Due: generate-actions-workflow

Adding 3006 to tests.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Update to MacOS latest install. Need to install procps on onedir centos installs.
  bootstrap-salt.sh
Due: shellcheck

removing check for different GPG keys for latest & nightly now that 3006 is available with the new GPG format.
  bootstrap-salt.sh
Due: shellcheck

Adding 3006.0 to kitchen.windows.yml and kitchen.macos.yml
  kitchen.macos.yml
  kitchen.windows.yml
Due: none

couple places that 3006 is needed for git installs.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

updating kitchen.yml with 3006.
  kitchen.yml
Due: none

fixing 3006 tag name
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

fixing version for git-3006.
  kitchen.yml
Due: none

Adding support for Ubuntu new versions (22.04 -> 24.xx)
  bootstrap-salt.sh
Due: shellcheck

Adding support for Ubuntu newer versions (22.04 -> 24.xx)
  bootstrap-salt.sh
Due: shellcheck

removing check for whether to use the new GPG key.
  bootstrap-salt.sh
Due: shellcheck

Some fixes for MacOS.
  bootstrap-salt.sh
  kitchen.macos.yml
Due: shellcheck

More MacOS fixes.
  bootstrap-salt.sh
  kitchen.macos.yml
Due: shellcheck

Fixing bootstrap and CICD to install via tag only if version begins with v and use branch otherwise.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

fixing kitchen.yml for git installs.
  kitchen.yml
Due: none

If the passed version begins with v, eg. it's a tag, remove it before comparison.
  tests/conftest.py
Due: none

Add support for 3006 on windows bootstrap script
  bootstrap-salt.ps1
Due: none

revert GIT_VERSIONS code.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Fixing kitchen.yml file.
  kitchen.yml
Due: none

Add 3006 to the tests, fix salt_call_command
  .github/workflows/ci.yml
  kitchen.windows.yml
Due: generate-actions-workflow

account for salt_version ending in .x, eg. 3006.x branch.
  tests/integration/test_installation.py
Due: none

Fix the 3006 tests
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .gitignore
Due: generate-actions-workflow

Revert to installing 3006 from the tag but blacklist any distribution that was running it until 3006.1 is out.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

removing nightly from onedir until S3 buckets are fixed.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Don't use GITHUB_OUTPUT (#1911)
  .github/workflows/release.yml
  .github/workflows/scripts/cut-release.py
Due: generate-actions-workflow

Update develop branch for the v2023.04.21 release
  CHANGELOG.md
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2023.04.21 release sha256sum
  README.rst
Due: none

Updating bootstratp to install Salt built Fedora packages. Initial support for installing on Photon via bootstrap script
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

need to add photon-3 and photon-4 to list of Linux of distributions
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

removing distros from latest blacklist which have latest packages available.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

fixing photon git installs, Using repo files for fedora and photon.
  bootstrap-salt.sh
Due: shellcheck

blacklist Photon 3 and 4 from a couple git installs.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

removing extra GIT_VERSIONS_BLACKLIST
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: bootstrap-salt\.sh
