Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

Updates some more
  bootstrap-salt.sh
Due: shellcheck

Adjust code for 'break-system-packages' on pip install and fix missing oraclelinux-9
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Added debugging for Debian git-master
  bootstrap-salt.sh
Due: shellcheck

Removed support for Centos Stream 8, EOL 2024-05-31, and added more debug, and revisited git for Debian and Ubuntu
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Updated git install for Ubuntu and Debian
  bootstrap-salt.sh
Due: shellcheck

Added debugging and fix Photon git
  bootstrap-salt.sh
Due: shellcheck

Adjust Photon git install, and corrected check for break-system-packages using pip3
  bootstrap-salt.sh
Due: shellcheck

Updated some more pip3 install to utilize --break-system-packages if sufficient pip3 version
  bootstrap-salt.sh
Due: shellcheck

Added tornado for Photon 4 git, and systemd for Photon 5
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Resolve lint error
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Trying to resolve Lint issue that suddenly arose
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Revert actions versions to what worked last week
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Trying koalaman/shellcheck-alpine:latest to see if Lint error is resolved for secure_getenv: symbol not found
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Disable Shell Check SC2086, Double quote to prevent globbing and word splitting
  bootstrap-salt.sh
Due: shellcheck

Disable Shell Check SC2329 - Warnings for functions not invoked
  bootstrap-salt.sh
Due: shellcheck

Further shell check disabling
  bootstrap-salt.sh
Due: shellcheck

Added gcc for Photon git deps
  bootstrap-salt.sh
Due: shellcheck

Increased tiemout to 40, updated to Ubuntu 24.04
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  Dockerfile
  Vagrantfile
  kitchen.yml
Due: generate-actions-workflow

Disable Git Master for Phonton 4 & 5 due to setup.py gcc failures
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Reverting to building on Ubuntu 20.04
  .github/workflows/test-linux.yml
  Dockerfile
  Vagrantfile
Due: generate-actions-workflow

Adjusted GIT 3006 & 3007 blacklists
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Debugging Oracle Linux 9
  kitchen.yml
Due: none

Debugging Amazon-2023 and Ubuntu 22.04
  kitchen.yml
Due: none

Debugging Debina 12 and Ubutnu 22.054 git-master
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Debugging
  bootstrap-salt.sh
Due: shellcheck

Debugging more
  bootstrap-salt.sh
Due: shellcheck

Debugging Ubuntu 22.04 git-master, default pip not recognizing sys_platform == 'win32'
  bootstrap-salt.sh
Due: shellcheck

Debugging Amazon 2023
  bootstrap-salt.sh
  btstrap-build.linux.yml
  btstrap-build.macos.yml
  btstrap-build.windows.yml
  kitchen.yml
Due: shellcheck

Testing current stable version of Ruby 3.3.4
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
  CHANGELOG.md
Due: generate-actions-workflow

Trying Ruby version 3.2.3 since exception with 3.3.4 for Amazon 2023
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

Reverted to using original Ruby 2.6.10 since 3.3.4 has exceptions creating Amazon 2023 Test Instance
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/templates/ci.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

Cleaned up code and removed Amazon 2023 for now, till it's container curl issue is resolved
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Using v3 for upload-artifact
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Revert uses of geekyeggo delete-artifact to original values for version
  .github/workflows/ci.yml
  .github/workflows/templates/ci-tail.yml
Due: generate-actions-workflow

Final cleanup of debugging, and add support for Arm64 for MacOS
  .github/workflows/ci.yml
  .github/workflows/templates/ci-tail.yml
  .github/workflows/templates/ci.yml
  CHANGELOG.md
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.windows.yml
Due: generate-actions-workflow, shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

WIP - Generate a full develop bootstrap build
  bootstrap-salt.sh
Due: shellcheck

Added tornado for Arch
  bootstrap-salt.sh
Due: shellcheck

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: bootstrap-salt\.sh
