Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
  language: docker_image

fix(windows): copy configs to correct config dirs (v3004+)
  bootstrap-salt.ps1
Due: none

Use native repositories for Debian 11 Remove best-effort support for Debian Testing Remove Ubuntu 20.10 support because it is end-of-life
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  README.rst
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

OpenBSD: correct post-Neon package names to python3 versions
  bootstrap-salt.sh
Due: shellcheck

feat(bootstrap-salt): add AlmaLinux detection and functions
  bootstrap-salt.sh
Due: shellcheck

feat(bootstrap-salt): add Rocky Linux detection and functions
  bootstrap-salt.sh
Due: shellcheck

ci(kitchen): use official Rocky Linux image on Docker Hub
  kitchen.yml
Due: none

ci: remove `centos-8` (EOL)
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

ci(gemfile+lock): update to latest versions
  .gitignore
  Gemfile
  Gemfile.lock
Due: none

ci(rockylinux): add `3004` testing (`stable` and `git`)
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

ci(kitchen): set `LEGACY` crypto policy on Fedora (get `35` working)
  kitchen.yml
Due: none

ci: remove `fedora-33` (EOL)
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Bump version to 2022.03.15 release
  .pre-commit-config.yaml
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

correct install
  bootstrap-salt.sh
Due: shellcheck

Add CentOS GPG key for RHEL7 for successful builds
  bootstrap-salt.sh
Due: shellcheck

Fix git master install on alpine 3.12+
  bootstrap-salt.sh
Due: shellcheck

correct install location
  bootstrap-salt.sh
Due: shellcheck

fix quotes
  bootstrap-salt.sh
Due: shellcheck

Add CI for v3004
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/kitchen.windows.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow

fix fetch url
  bootstrap-salt.sh
Due: shellcheck

ci(freebsd): replace `12.2` with newly released `12.3` box
  .github/workflows/kitchen.vagrant.yml
  kitchen.vagrant.yml
  kitchen.yml
Due: none

ci(vagrant): use conditional local settings (inc. `synced_folders`)
  kitchen.vagrant.yml
Due: none

Add support for Raspbian 11
  bootstrap-salt.sh
Due: shellcheck

ci(proxy): replace deprecated `windows-2016` with `windows-2022`
  .github/workflows/kitchen.windows.yml
  kitchen.windows.yml
Due: none

ci(centos-stream8): add platform
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Add openrc to alpine:latest dependencies
  bootstrap-salt.sh
Due: shellcheck

Re-add CI for Ubuntu-16
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

fix lint for sh
  bootstrap-salt.sh
Due: shellcheck

add rhel ubi tests and needed package
  bootstrap-salt.sh
Due: shellcheck

Remove 3001 from CI: EoL
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/kitchen.windows.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow

Restored extra line
  bootstrap-salt.ps1
Due: none

fix key import
  bootstrap-salt.sh
Due: shellcheck

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
