Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.14
    hooks:
      - id: mdformat

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black

  - repo: https://github.com/s0undt3ch/python-tools-scripts
    rev: "0.12.0"
    hooks:
      - id: tools
        alias: actionlint
        name: Lint GitHub Actions Workflows
        files: "^.github/workflows/"
        types:
          - yaml
        args:
          - pre-commit
          - actionlint

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '^.github/workflows/.*$'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

moving the logic for quickstart down to ensure install type and install revision are set correctly for quickstart.
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

need some defaults for quickstart and auto accept keys.
  bootstrap-salt.sh
Due: shellcheck

add opensuse leap 15.5
  .github/workflows/ci.yml
  kitchen.yml
Due: generate-actions-workflow

fix install_amazon_linux_ami_2_onedir nightly gpg key path
  bootstrap-salt.sh
Due: shellcheck

adjust set-pipeline-exit-status for opensuse-15
  .github/workflows/ci.yml
Due: generate-actions-workflow

add opensuse 15-4 and 15-5 to generation script
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

add nightly install testing
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

add Gemfile.lock to gitignore
  .gitignore
Due: none

adjust onedir nightly path
  bootstrap-salt.sh
Due: shellcheck

nightly should build against onedir_distros list
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

pre-commit run
  .github/workflows/ci.yml
Due: generate-actions-workflow

Revert "fix install_amazon_linux_ami_2_onedir nightly gpg key path"
  bootstrap-salt.sh
Due: shellcheck

Revert "fix rhel_onedir_repository for nightly gpg file"
  bootstrap-salt.sh
Due: shellcheck

fix photon,fedora,redhat nightly install
  bootstrap-salt.sh
Due: shellcheck

debian nightly fix + rhel typo fix
  bootstrap-salt.sh
Due: shellcheck

shellcheck adjustments
  bootstrap-salt.sh
Due: shellcheck

more shellcheck fixes
  bootstrap-salt.sh
Due: shellcheck

fedora + redhat fix nightly gpg paths
  bootstrap-salt.sh
Due: shellcheck

debian onedir-nightly fixes
  bootstrap-salt.sh
Due: shellcheck

ubuntu onedir-nightly build fixes
  bootstrap-salt.sh
Due: shellcheck

shellcheck fixes
  bootstrap-salt.sh
Due: shellcheck

Update develop branch for the v2023.07.25 release
  CHANGELOG.md
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2023.07.25 release sha256sum
  README.rst
Due: none

Set RootDir depending on Salt Version
  bootstrap-salt.ps1
Due: none

Bump to `certifi==2023.07.22` due to https://github.com/advisories/GHSA-xqr8-7jwr-rhp7
  requirements/release.txt
Due: none

cleanup old information in the README.rst file
  README.rst
Due: none

Update windows commands to support TLS1.2
  README.rst
Due: none

Update develop branch for the v2023.08.03 release
  CHANGELOG.md
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2023.08.03 release sha256sum
  README.rst
Due: none

adjusting nightly path to minor/latest
  bootstrap-salt.sh
Due: shellcheck

swapping out SaltProject for Salt Project
  README.rst
Due: none

removing reference to armhf
  README.rst
Due: none

A couple fixes for git-master tests on PhotonOS 3.
  bootstrap-salt.sh
Due: shellcheck

Upgrade linux-devel.
  bootstrap-salt.sh
Due: shellcheck
