Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

add sha256 files for release
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

add sha for 2020.06.23 release
  README.rst
Due: none

Fix v3000+ with git install on FreeBSD
  bootstrap-salt.sh
Due: shellcheck

Added missing functions for Red Hat 8.x
  bootstrap-salt.sh
Due: shellcheck

Allow pinning minor 3xxx versions (3000.0, 3001.0, etc)
  bootstrap-salt.sh
Due: shellcheck

Mention the .0 suffix in the doc
  bootstrap-salt.sh
Due: shellcheck

Add 3000.0 pin test
  .kitchen.yml
Due: none

Get rid of the 3xxx.0 if condition
  bootstrap-salt.sh
Due: shellcheck

add .0 tests
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
  tests/conftest.py
Due: generate-actions-workflow

docs(windows): update for windows-py3
  README.rst
  bootstrap-salt.ps1
Due: none

Support git and stable salt-bootstrap on Gentoo.
  .kitchen.yml
  bootstrap-salt.sh
Due: shellcheck

Add Gentoo to the CI process.
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Run emerge-webrsync when provisioning a Gentoo container.
  .kitchen.yml
Due: none

Test pipelines with kitchen-docker from its GitHub master.
  Gemfile
Due: none

Install Python 3.6 only when building Salt 2019 (stable).
  .kitchen.yml
  bootstrap-salt.sh
Due: shellcheck

Install Python 3.6 only when building Salt 2019 (stable+git).
  bootstrap-salt.sh
Due: shellcheck

Make CI job timeout configurable and raise timeout for Gentoo.
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .github/workflows/templates/linux.yml
Due: generate-actions-workflow

feat: adds support for linuxmint_20_ubuntu_base
  bootstrap-salt.sh
Due: shellcheck

Bump version for release
  bootstrap-salt.sh
Due: shellcheck

Update AUTHORS.rst and ChangeLog for release
  AUTHORS.rst
  ChangeLog
Due: none

Update build status badge. Add sha256sums anchor
  README.rst
Due: none

Add GH action to update sha256sums
  .github/workflows/checksums.yml
  .github/workflows/scripts/update-release-shasum.py
Due: none

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Only update checksums on the main repo
  .github/workflows/checksums.yml
Due: none

Add support to allow bootstrapping Salt 3002
  bootstrap-salt.sh
Due: shellcheck

Bump version for release and update ChangeLog
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

Update the release doc
  RELEASE.md
Due: none

Don't fail if there's nothing to commit and push
  .github/workflows/checksums.yml
Due: none

Increase gentoo timeouts
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

GH Actions can't push to protected branches. Let's create PRs instead.
  .github/workflows/checksums.yml
Due: none

Add checksum for `2020.10.19`
  README.rst
Due: none

Run on pushes to stable and not on tag.
  .github/workflows/checksums.yml
Due: none

Split workflows
  .github/workflows/checksums.yml
  .github/workflows/release.yml
Due: none

Update README.rst with latest release sha256sum
  README.rst
Due: none

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

update tested oses
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

only run gentoo on branch, black everything
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/scripts/update-release-shasum.py
  .github/workflows/templates/generate.py
  .github/workflows/templates/linux.yml
  .github/workflows/templates/main.yml
  .kitchen.yml
  .pre-commit-config.yaml
  tests/conftest.py
  tests/integration/test_installation.py
Due: generate-actions-workflow

fix .0 tests
  tests/conftest.py
  tests/integration/test_installation.py
Due: none

Debian 11 (bullseye/testing) support using Debian 10 packages
  README.rst
  bootstrap-salt.sh
Due: shellcheck

add debian-11 tests
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow
