Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat

  - repo: https://github.com/s0undt3ch/python-tools-scripts
    rev: "0.18.6"
    hooks:
      - id: tools
        alias: actionlint
        name: Lint GitHub Actions Workflows
        files: "^.github/workflows/"
        types:
          - yaml
        args:
          - pre-commit
          - actionlint

  - repo: https://github.com/jazzband/pip-tools
    rev: 7.3.0
    hooks:
      - id: pip-compile
        files: ^requirements/release\.(in|txt)$
        args:
          - requirements/release.in

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        name: Rewrite Code to be Py3.9+
        args: [--py39-plus]

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.12.0
    hooks:
      - id: reorder-python-imports
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        args: []

#  - repo: https://github.com/PyCQA/flake8
#    rev: 3.9.2
#    hooks:
#      - id: flake8
#        language_version: python3
#        additional_dependencies:
#          - flake8-mypy-fork
#          - flake8-docstrings
#          - flake8-typing-imports
#
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.0.0
#    hooks:
#      - id: mypy
#        alias: mypy-tools
#        name: Run mypy against tools
#        files: ^tools/.*\.py$
#        #args: [--strict]
#        additional_dependencies:
#          - attrs
#          - rich
#          - types-attrs
#          - types-pyyaml
#          - types-requests

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '^.github/workflows/.*$'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Update minimum versions and correct Redat 7 base key
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Updated 3005.1 to 3005.5
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: shellcheck

Added macos-12, removed Photon-3, and added further cleanup of old OSs and Salt versions
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Removed support for SLES 12 and updated pre-commit versions
  .pre-commit-config.yaml
  AUTHORS.rst
  CONTRIBUTING.md
  Dockerfile
  Vagrantfile
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.yml
  requirements/release.in
  requirements/release.txt
  tests/conftest.py
Due: shellcheck

Updated ruby to version 3.2.3, a supported version of ruby
  .github/workflows/test-bsd.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

Corrected for fedora_provision_command
  kitchen.yml
Due: none

Fix __PY_VERSION_REPO
  bootstrap-salt.sh
Due: shellcheck

Fix up use of dnf-utils which no longer exists
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Removed use of yum-utils and dnf-utils (doesn't exist)
  bootstrap-salt.sh
Due: shellcheck

Removed use of procps for RedHat 9 and above, since only exists for 8 and below
  bootstrap-salt.sh
Due: shellcheck

Updated test for yum-utils install
  bootstrap-salt.sh
Due: shellcheck

Updated for Fedora 40, Ubuntu 24.04, etc
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Use debian 12 repo on debian 12
  bootstrap-salt.sh
Due: shellcheck

Fix installing salt 3007 as stable or onedir
  bootstrap-salt.sh
Due: shellcheck

Add support to install on Ubuntu 24.04 Noble Numbat
  bootstrap-salt.sh
Due: shellcheck

Updating changes to bootstrap
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-bsd.yml
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

WIP - Changes
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Gemfile
  bootstrap-salt.sh
  btstrap-build.linux.yml
  btstrap-build.macos.yml
  btstrap-build.windows.yml
  kitchen.bsd.yml
Due: generate-actions-workflow, shellcheck

WIP - adjustments before using runners for testing etc.
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-linux.yml
  CHANGELOG.md
  bootstrap-salt.sh
  btstrap-build.linux.yml
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Fix typo
  .github/workflows/test-linux.yml
Due: generate-actions-workflow

Saving before revert to using kitchen in interest of speed
  btstrap-build.linux.yml
Due: none

Reverted to using kitchen-salt in order to get this out faster
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Gemfile
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow

Revert PR 1985 changes to artiface@v3, etc.
  .github/workflows/ci.yml
  .github/workflows/templates/ci-tail.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Made defaults Python 3, and other fixes for chkconfig and procps
  bootstrap-salt.sh
  btstrap-build.linux.yml
Due: shellcheck

Updated to use procps-ng for Redhat family
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Updated code
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Revert some changes for centos/redhat install
  bootstrap-salt.sh
Due: shellcheck

Added debugging
  bootstrap-salt.sh
Due: shellcheck

Updated bootstrap
  bootstrap-salt.sh
Due: shellcheck

Checking quotes issue on input to OS install command
  bootstrap-salt.sh
Due: shellcheck

Updated bootstrap, more quoting handling and other changes
  CHANGELOG.md
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Adjusted keyring for Debian and Ubuntu
  bootstrap-salt.sh
Due: shellcheck

Updated testings
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Updates quotes to match develop branch
  bootstrap-salt.sh
Due: shellcheck

Updated bootstrap script to install tornado, since missing in pkg for 3006.x, fixed debian/ubuntu urls for repos
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Updates
  bootstrap-salt.sh
Due: shellcheck

Added transport field for docker
  kitchen.yml
Due: none

added transport docker for MacOS and Windows
  kitchen.macos.yml
  kitchen.windows.yml
Due: none

Disabled transport docker
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: none

Updates some more
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Updates to bootstrap etc
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck
