Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

fix indentation, remove unnecessary IFS changes
  bootstrap-salt.sh
Due: shellcheck

ci(kitchen): add `ssh-rsa` to `PubkeyAcceptedAlgorithms` on Tumbleweed
  kitchen.yml
Due: none

ci(proxy): fix setting up WinRM
  .github/workflows/kitchen.windows.yml
  kitchen.windows.yml
Due: none

Sort help alphabetically
  bootstrap-salt.sh
Due: shellcheck

Add CI for Ubuntu-21.10 and remove for 21.04
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

ci(gemfile+lock): update to latest versions
  .gitignore
  Gemfile
  Gemfile.lock
Due: none

Update README.rst with 2021.09.17 release sha256sum
  README.rst
Due: none

Create new process with all command-line parameters when UAC is enabled
  bootstrap-salt.ps1
Due: none

ci: remove `centos-8` (EOL)
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

ci(kitchen): add `ssh-rsa` to `PubkeyAcceptedAlgorithms` on Gentoo
  kitchen.yml
Due: none

feat(bootstrap-salt): add AlmaLinux detection and functions
  bootstrap-salt.sh
Due: shellcheck

ci(kitchen): add `ssh-rsa` to `PubkeyAcceptedAlgorithms` on Arch Linux
  kitchen.yml
Due: none

feat(bootstrap-salt): add Rocky Linux detection and functions
  bootstrap-salt.sh
Due: shellcheck

correct install
  bootstrap-salt.sh
Due: shellcheck

Support Non-LTS Ubuntu 21.04 & 21.10
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2022.03.15 release sha256sum
  README.rst
Due: none

Add some info and fixes to RELEASE.md
  RELEASE.md
Due: none

fix(bootstrap-salt): install `gcc-c++` for Fedora 35 `git` builds
  bootstrap-salt.sh
Due: shellcheck

ci(leading edge distros): test `git master` and `stable latest` only
  .github/workflows/kitchen.windows.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .github/workflows/templates/main.yml
Due: generate-actions-workflow

style(templates/generate): fix `black` violations
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

ci(300X.0): remove all instances due to CVE-related archiving
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

ci(git): use specific blacklists to disable Jinja2 >= `3.1` failing jobs
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

ci(kitchen.windows.yml): provide minor version number for `salt_version`
  kitchen.windows.yml
Due: none

feat(fedora-36): add platform
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Adding bits to install Salt packages built using Tiamat.
  bootstrap-salt.sh
Due: shellcheck

Ubuntu 22.04
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .pre-commit-config.yaml
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Fix black
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

f
  bootstrap-salt.sh
Due: shellcheck

f
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Add g++ dependency for Ubuntu 22
  bootstrap-salt.sh
Due: shellcheck

Remove Ubuntu 16 from CI
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

test(requirements): update `testinfra` => `pytest-testinfra`
  tests/requirements.txt
Due: none

feat(macos): add CI testing using Kitchen's `exec` driver
  .github/workflows/kitchen.macos.yml
  kitchen.macos.yml
  kitchen.vagrant.yml
  tests/conftest.py
Due: none

Add OpenBSD 7
  .github/workflows/kitchen.vagrant.yml
  kitchen.vagrant.yml
  kitchen.yml
Due: none

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
