Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Detect Salt's new versioning scheme
  bootstrap-salt.sh
Due: shellcheck

Fix git installs for post Neon releases
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Lint depends on the workflow action generation step
  .github/workflows/main.yml
  .github/workflows/templates/lint.yml
  .github/workflows/templates/linux.yml
  .github/workflows/templates/pre-commit.yml
Due: generate-actions-workflow

Update to the final Neon version
  .kitchen.yml
Due: none

Update ChangeLog for release
  ChangeLog
Due: none

Bump version for release
  bootstrap-salt.sh
Due: shellcheck

FreeBSD versions lower than 11 are EOL and unsupported
  README.rst
  bootstrap-salt.sh
Due: shellcheck

Remove duplicate entry in pre-commit config
  .pre-commit-config.yaml
Due: none

Disable github workflows for now
  .github/.workflows/main.yml
  .github/.workflows/templates/generate.py
  .github/.workflows/templates/lint.yml
  .github/.workflows/templates/linux.yml
  .github/.workflows/templates/main.yml
  .github/.workflows/templates/pre-commit.yml
Due: none

Add sha256sum for the latest release, v2020.01.29
  README.rst
Due: none

Set Linux jobs timeout to 10 minutes
  .github/.workflows/main.yml
  .github/.workflows/templates/linux.yml
Due: none

Switch to TTY format
  .github/.workflows/main.yml
  .github/.workflows/templates/lint.yml
Due: none

Arch is now on Py3.8 which salt doesn't yet support
  .github/.workflows/main.yml
  .github/.workflows/templates/generate.py
  .kitchen.yml
Due: none

We can also install Salt under Py3 on Opensuse 15
  .github/.workflows/main.yml
  .github/.workflows/templates/generate.py
  .kitchen.yml
Due: none

There's no `zypper` command on the `zypper` CLI
  bootstrap-salt.sh
Due: shellcheck

Fedora < 30 is now EOL
  README.rst
  bootstrap-salt.sh
Due: shellcheck

Fix Neon support
  bootstrap-salt.sh
Due: shellcheck

Debian < 8 is now EOL
  README.rst
  bootstrap-salt.sh
Due: shellcheck

Tornado must be pip installed for Fedora >= 30, under Py2 or Py3.
  bootstrap-salt.sh
Due: shellcheck

We need procps-ng installed in Fedora
  .kitchen.yml
Due: none

add documentation on updating the .drone.yml file
  README.rst
Due: none

fix logic for jsonnet
  .drone.jsonnet
  .drone.yml
Due: none

Fix shellcheck errors
  bootstrap-salt.sh
Due: shellcheck

Adding fixes to support Fedora 31.
  bootstrap-salt.sh
Due: shellcheck

Add fedora 31 git install support
  .drone.jsonnet
  .drone.yml
  bootstrap-salt.sh
Due: shellcheck

Enable Fedora 31 for the github actions testing workflow
  .github/.workflows/main.yml
  .github/.workflows/templates/generate.py
Due: none

Fedora stable installs are Py3 only
  bootstrap-salt.sh
Due: shellcheck

Add Fedora 32 support(disabled since it's py3.8)
  .github/.workflows/main.yml
  .github/.workflows/templates/generate.py
  .kitchen.yml
Due: none

Even stable installs on Fedora must downgrade tornado
  bootstrap-salt.sh
Due: shellcheck

Py2 on fedora is now blacklisted.
  .drone.jsonnet
  .drone.yml
Due: none

Update changes log
  ChangeLog
Due: none

first changes to support Ubuntu 20.04
  bootstrap-salt.sh
Due: shellcheck

Add py3-git-master kitchen buidls support
  .kitchen.yml
Due: none

Also test boostrapping the master branch
  .github/.workflows/main.yml
  .github/.workflows/templates/generate.py
Due: none

First check for non empty string
  bootstrap-salt.sh
Due: shellcheck

Don't install system packages POST Neon release on git installs
  bootstrap-salt.sh
Due: shellcheck

Bump version for stable release
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

Add the sha256sum of the 2020.02.04 release
  README.rst
Due: none

Add link to hardening Salt
  README.rst
Due: none

Add support for new version scheme
  bootstrap-salt.ps1
Due: none
