Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

Need to add --use-517 when installing dependencies from PIP when building on Arch and Gentoo.
  bootstrap-salt.sh
Due: shellcheck

fixing typo. --use-pep517 instead of --use-517
  bootstrap-salt.sh
Due: shellcheck

only use --use-pep517 with Arch.
  bootstrap-salt.sh
Due: shellcheck

Swapping ${_POST_NEON_PIP_INSTALL_ARGS} for ${_PIP_DOWNLOAD_ARGS}
  bootstrap-salt.sh
Due: shellcheck

Adding to install_gentoo_git_deps to update setuptools to fix bootstrap install with git master.
  bootstrap-salt.sh
Due: shellcheck

Adding some logging to be able to find the command.
  bootstrap-salt.sh
Due: shellcheck

ci: update shellcheck container version
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

bootstrap-salt.ps1: [docs] improve links
  bootstrap-salt.ps1
Due: none

readme: improve windows install guidance
  README.rst
Due: none

Removing rockylinux:9 until PR into kitchen-docker has been merged.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

removing update-crypto-policies --set DEFAULT:SHA1, no longer needed for rockylinux:8
  kitchen.yml
Due: none

removing bits not needed for rockylinux:8, oraclelinux:8, or oraclelinux:9
  kitchen.yml
Due: none

fixing centos:stream9 docker URL
  kitchen.yml
Due: none

Adding platform: centosstraem to centosstream:9
  kitchen.yml
Due: none

fixes for 3006 release.
  bootstrap-salt.sh
Due: shellcheck

Update repo GPG keys for debian and Ubuntu.
  bootstrap-salt.sh
Due: shellcheck

seperate branch for adding and testing rockylinux:9, swapping out the kitchen-docker Github until PR is merged.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  Gemfile
  kitchen.yml
Due: generate-actions-workflow

swap kitchen-docker URL for official one. Use centosstream platform for rockylinux9
  Gemfile
  kitchen.yml
Due: none

When installing setuptools and wheel, upgrade if available.
  bootstrap-salt.sh
Due: shellcheck

Fixing typo. Blacklist centos-stream9 in latest pkg tests.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-windows.yml
  bootstrap-salt.sh
  tests/conftest.py
Due: generate-actions-workflow, shellcheck

pin requests-ntlm to 1.1.0
  tests/conftest.py
  tests/requirements.txt
Due: none

Addin --upgrade back in.
  bootstrap-salt.sh
Due: shellcheck

Update regex for determining the GPG key to use.
  bootstrap-salt.sh
Due: shellcheck

Look for version in ONEDIR_REV. Use older key for nightly builds unitl the 3006 release.
  bootstrap-salt.sh
Due: shellcheck

fix for amazon2 GPG key logic.
  bootstrap-salt.sh
Due: shellcheck

Adding nightly to the check for the older GPG key until 3006 release.
  bootstrap-salt.sh
Due: shellcheck

Adding onedir_rc to testing.
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Adding 3006.0rc1 to Github actions.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
