Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

A check in order not to update twice
  .github/workflows/scripts/update-release-shasum.py
Due: none

Automated release process
  .github/workflows/checksums.yml.bak
  .github/workflows/release.yml
  .github/workflows/scripts/cut-release.py
Due: none

Autoformat markdown files pre-commit hook
  .pre-commit-config.yaml
Due: none

Migrate changelog file to markdown
  CHANGELOG.md
  ChangeLog
Due: none

Link to GH's contributors listing
  AUTHORS.rst
Due: none

We don't need the release changelog contents as an environment variable
  .github/workflows/release.yml
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Only repository admins can cut releases
  .github/workflows/release.yml
Due: none

Re-work the CI pipeline
  .github/workflows/ci.yml
  .github/workflows/kitchen.macos.yml
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/kitchen.windows.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/ci-tail.yml
  .github/workflows/templates/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/templates/lint.yml
  .github/workflows/templates/linux.yml
  .github/workflows/templates/main.yml
  .github/workflows/templates/pre-commit.yml
  .github/workflows/test-bsd.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-windows.yml
  .pre-commit-config.yaml
  Gemfile.lock
  kitchen.bsd.yml
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow

Queue slower pipelines first
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

It's always python 3
  tests/conftest.py
  tests/integration/test_installation.py
Due: none

Cache vagrant images.
  .github/workflows/test-bsd.yml
Due: none

A more static cache key
  .github/workflows/test-bsd.yml
Due: none

Changes in the release workflow should not trigger a full CI pipeline run
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Fix the release workflow and attach it to a GH environment to further protect secrets
  .github/workflows/checksums.yml.bak
  .github/workflows/release.yml
Due: none

Fix parameter name for the changed files action
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Specify the repository
  .github/workflows/release.yml
Due: none

Remove old workflows that did not get removed by the merge from develop
  .github/workflows/kitchen.macos.yml
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/kitchen.windows.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
Due: none

Remove conflicts
  kitchen.macos.yml
Due: none

It's powershell on windows...
  .github/workflows/test-windows.yml
Due: none

Stable releases on stable branches
  bootstrap-salt.sh
Due: shellcheck

No locked Gemfile
  Gemfile.lock
Due: none

Run pre-commit on conflict files before adding them
  .github/workflows/release.yml
Due: none
