Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

Adding 3006.0rc1 to Github actions.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

fixing github actions, cannot have a dot in the name
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

swap out the dash for an underscore, onedir-rc to onedir_rc
  kitchen.yml
Due: none

swap out the dash for an underscore, onedir-rc to onedir_rc
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Fixing Amazon2 GPG key for releases 3006 and higher.
  bootstrap-salt.sh
Due: shellcheck

Add a workaround for stable 3005 and latest on CentOS Stream 8
  bootstrap-salt.sh
Due: shellcheck

Adding 3006.0rc2 to bootstrap tests.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Adding support for installing 3006 via bootstrap. Updating stable type to install onedir packages starting in 3006.
  bootstrap-salt.sh
Due: shellcheck

Fix REV variable to be ONEDIR_REV to match ITYPE
  bootstrap-salt.sh
Due: shellcheck

account for the older key in latest until latest points to 3006 and is using the newer key.
  bootstrap-salt.sh
Due: shellcheck

add some dummy install onedir functions to call the stable version for certain OSes, eg. freebsd, openbsd, smartos.
  bootstrap-salt.sh
Due: shellcheck

on RH based systems, check that the updated GPG key exists otherwise fall back to the previous GPG key.
  bootstrap-salt.sh
Due: shellcheck

Ensure STABLE_REV is still set for a couple functions that still use it, eg. Fedora.
  bootstrap-salt.sh
Due: shellcheck

Don't include SALT-PROJECT-GPG-PUBKEY-2023.pub if it's not found.
  bootstrap-salt.sh
Due: shellcheck

Adding +install_macosx_onedir and friends
  bootstrap-salt.sh
Due: shellcheck

need a dummy install_fedora_onedir_post that calls install_fedora_stable_post.
  bootstrap-salt.sh
Due: shellcheck

need a dummy install_arch_linux_onedir_post that calls install_arch_linux_stable_post.
  bootstrap-salt.sh
Due: shellcheck

Add actionlint to pre-commit
  .github/actionlint.yaml
  .pre-commit-config.yaml
  tools/__init__.py
  tools/pre_commit.py
Due: none

Some echo's so that we know what we're doing
  .github/workflows/nightly.yml
Due: none

Use our runners to publish a release. Update S3 bucket in the process.
  .github/workflows/release.yml
  .github/workflows/scripts/cut-release.py
Due: none

Sign release scripts. Nightly develop version of scripts upload.
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

Use the installed python on the runners
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

Allow testing releases from forks
  .github/workflows/release.yml
Due: none

Fix opening PR against the Salt repository
  .github/workflows/release.yml
Due: none

Switch to using `tools` when uploading to S3
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  requirements/release.in
  requirements/release.txt
  tools/__init__.py
  tools/release.py
  tools/utils.py
Due: none

Don't rely on GH runners during the release process once started.
  .github/workflows/release.yml
Due: none

Respect the old directory layout
  tools/release.py
Due: none

Bump to `geekyeggo/delete-artifact@v2`
  .github/workflows/release.yml
Due: none

first pass at parsing the repo.json for Mac when using onedir and latest.
  bootstrap-salt.sh
Due: shellcheck

different approach to setting the _ONEDIR_REV from the parse repo.json function
  bootstrap-salt.sh
Due: shellcheck

Need _ONEDIR_REV defined in a couple more places.
  bootstrap-salt.sh
Due: shellcheck

fixing SALTPKGCONFURL, same one for onedir locations just populated with different values for different variables.
  bootstrap-salt.sh
Due: shellcheck

parse json first, since different versions have different naming schemes and we need to parse that part afterwards
  bootstrap-salt.sh
Due: shellcheck

Fixing Arch by adding additional onedir functions to call stable functions.
  bootstrap-salt.sh
Due: shellcheck

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
