Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

make python3 the default
  bootstrap-salt.sh
Due: shellcheck

remove py2 and 3000 jobs from test suite
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

ci(almalinux-8): add testing for `3003`
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Point to how to use a custom version of this script
  README.rst
Due: none

Allow this script to elevate permissions
  bootstrap-salt.sh
Due: shellcheck

Update version for new release
  AUTHORS.rst
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

Change master to develop branch
  RELEASE.md
Due: none

Update README.rst with 2021.08.19 release sha256sum
  README.rst
Due: none

Improve warning message
  bootstrap-salt.sh
Due: shellcheck

don't output info if using the default -x value
  bootstrap-salt.sh
Due: shellcheck

Pin latest salt version to README
  README.rst
Due: none

Update to new release 2021.09.14
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2021.09.14 release sha256sum
  README.rst
Due: none

Add oncoming 3004 release
  bootstrap-salt.sh
Due: shellcheck

Re-add Ubuntu-16 support as it's still supported with 3001 and 3002
  bootstrap-salt.sh
Due: shellcheck

Update to new release 2021.09.17
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck
