Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
  language: docker_image

Just a better name
  .github/workflows/checksums.yml
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

Update version for release
  bootstrap-salt.sh
Due: shellcheck

Support the upcoming Salt 3003 release
  bootstrap-salt.sh
Due: shellcheck

Additionally, open a PR against Salt
  .github/workflows/checksums.yml
  .github/workflows/release.yml
Due: none

Update AUTHORS and ChangeLog
  AUTHORS.rst
  ChangeLog
Due: none

Fix release version in ChangeLog
  ChangeLog
Due: none

fix .0 tests
  tests/conftest.py
  tests/integration/test_installation.py
Due: none

FreeBSD also needs the _PKI_DIR reset
  bootstrap-salt.sh
Due: shellcheck

move everything to point at saltproject.io urls
  AUTHORS.rst
  CONTRIBUTING.md
  LICENSE
  README.rst
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

feat(ps1): implement Vagrant grains_config option
  bootstrap-salt.ps1
Due: none

Added www/py-tornado4 package as requirment for freebsd #1521
  bootstrap-salt.sh
Due: shellcheck

refactor(kitchen): prefer `kitchen.yml` to `.kitchen.yml`
  .gitignore
  kitchen.yml
Due: none

ci(oraclelinux): add CI for Oracle Linux 7
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

Gentoo - disable x.0 version tests.
  .github/workflows/main-branch-only.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

Debian 11 (bullseye/testing) support using Debian 10 packages
  README.rst
  bootstrap-salt.sh
Due: shellcheck

update supported oses
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

apt-key is deprecated on debian10+ and ubuntu20+
  bootstrap-salt.sh
Due: shellcheck

feat(ps1): implement configure only option (for Vagrant)
  bootstrap-salt.ps1
Due: none

limit pip to < 21.0 for python 3.5
  bootstrap-salt.sh
Due: shellcheck

upgrade the minimum pip version
  bootstrap-salt.sh
Due: shellcheck

Gentoo - install Salt 2019 (GIT) with msgpack <1.0.
  .github/workflows/main-branch-only.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Gentoo - install Salt 3000 (GIT) with Python 3.7.
  .kitchen.yml
  bootstrap-salt.sh
Due: shellcheck

refactor(ps1): use similar copy command for Vagrant minion key files
  bootstrap-salt.ps1
Due: none

add debian-11 tests
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

Adding examples using stable; adding help output
  README.rst
Due: none

update tested oses
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

Gentoo - use ksmanis/stage3 image
  .kitchen.yml
  bootstrap-salt.sh
Due: shellcheck

only run gentoo on branch, black everything
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/scripts/update-release-shasum.py
  .github/workflows/templates/generate.py
  .github/workflows/templates/linux.yml
  .github/workflows/templates/main.yml
  .kitchen.yml
  .pre-commit-config.yaml
  tests/conftest.py
  tests/integration/test_installation.py
Due: generate-actions-workflow

fix(ps1): missing comma
  bootstrap-salt.ps1
Due: none

use https for fetching gem
  Gemfile
Due: none

fix(opensuse): fix & add CI for openSUSE Tumbleweed
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
