Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

Stable releases on stable branches
  bootstrap-salt.sh
Due: shellcheck

Update `*.sha256` files when merging develop into stable
  .github/workflows/release.yml
Due: none

The main job should also set the exit status
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

Typo
  .github/workflows/release.yml
Due: none

Update README for Windows installation
  README.rst
Due: none

Add a newline to Install on Windows codeblock
  README.rst
Due: none

Update the bootstrap script to work with final onedir releases.
  bootstrap-salt.sh
Due: shellcheck

Ensure the REPO_ARCH for Arm64 is correct.
  bootstrap-salt.sh
Due: shellcheck

strip .0
  bootstrap-salt.sh
Due: shellcheck

fix regex
  bootstrap-salt.sh
Due: shellcheck

fixing mention of amd64 which should be arm64.
  bootstrap-salt.sh
Due: shellcheck

support format MAJOR-MINOR
  bootstrap-salt.sh
Due: shellcheck

correct regex as requested
  bootstrap-salt.sh
Due: shellcheck

Install Oracle's EPEL repo on Oracle Linux 7 and 8.
  bootstrap-salt.sh
Due: shellcheck

Add support for the -R flag on macOS.
  bootstrap-salt.sh
Due: shellcheck

Fix missing functions for post-installation on EL clones
  bootstrap-salt.sh
Due: shellcheck

account for adding the .0 back into the release versions starting in 3006.
  bootstrap-salt.sh
Due: shellcheck

Adding tests for installing onedir packages
  kitchen.yml
Due: none

Adding 3005 and onedir to various bits
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Only add onedir for supported versions.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

removing debian 9
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

adding 3005 kitchen instances.
  kitchen.yml
Due: none

Adding stable 3005 instanes to MacOS and Windows.
  kitchen.macos.yml
  kitchen.windows.yml
Due: none

update openbsd to 7, seems like 6 (6.9) is no longer available.
  kitchen.bsd.yml
Due: none

update templates for openbsd-7
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Update the URL for kitchen-docker to include the new branch.
  Gemfile
Due: none

Adding default vagrant credentials to openbsd to get past initial SSH key setup.
  Gemfile
  kitchen.bsd.yml
Due: none

trying to limit the number of parallel jobs
  .github/workflows/test-linux.yml
Due: none

Removing EPEL, which is no longer needed.
  bootstrap-salt.sh
Due: shellcheck

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
