Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Handle missing registry entry properly
  bootstrap-salt.ps1
Due: none

Bump version to 2022.05.19 release
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

2022.05.19 release
  .github/workflows/kitchen.macos.yml
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .github/workflows/templates/main.yml
  .pre-commit-config.yaml
  README.rst
  RELEASE.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.vagrant.yml
  kitchen.windows.yml
  kitchen.yml
  tests/conftest.py
  tests/requirements.txt
Due: generate-actions-workflow, shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2022.05.19 release sha256sum
  README.rst
Due: none

ci(kitchen.macos.yml): fix `macOS` name (align to current branding)
  .github/workflows/kitchen.macos.yml
Due: none

ci: remove `fedora-34` (EOL)
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

ci(3002): remove from CI (EOL)
  .github/workflows/kitchen.macos.yml
  .github/workflows/kitchen.windows.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  README.rst
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow

test(conftest): adjust `PATH` on macOS jobs only (not Vagrant)
  tests/conftest.py
Due: none

chore(gemfile.lock): update to latest gem versions
  Gemfile.lock
Due: none

ci(freebsd): replace `13.0` with newly released `13.1` box
  .github/workflows/kitchen.vagrant.yml
  kitchen.vagrant.yml
  kitchen.yml
Due: none

feat(bootstrap-salt): handle openSUSE downstream repo change for `15.4`
  bootstrap-salt.sh
Due: shellcheck

ci(kitchen): update to openSUSE Leap 15.4
  kitchen.yml
Due: none

fix(bootstrap-salt): add `pyzmq` build deps for Tumbleweed `git` builds
  bootstrap-salt.sh
Due: shellcheck

Install Oracle's EPEL repo on Oracle Linux 7 and 8.
  bootstrap-salt.sh
Due: shellcheck

Rename to py39-salt, Python 3.9 is default version on FreeBSD
  bootstrap-salt.sh
Due: shellcheck

More updates for installing Salt Tiamat packages via the bootstrap script.
  bootstrap-salt.sh
Due: shellcheck

fixing typo.
  bootstrap-salt.sh
Due: shellcheck

Updating salt_rc directory
  bootstrap-salt.sh
Due: shellcheck

fixing another reference to the Tiamat directory
  bootstrap-salt.sh
Due: shellcheck

Adding TIAMAT_REV to install specific versions of Tiamat packages, defaults to latest.
  bootstrap-salt.sh
Due: shellcheck

Adding ability to install RC Tiamat packages via bootstrap script.
  bootstrap-salt.sh
Due: shellcheck

adding missing Debian bits for Tiamat installs. Renaming the tiamat repo. functions to be consistent.
  bootstrap-salt.sh
Due: shellcheck

fixing some lint issues.
  bootstrap-salt.sh
Due: shellcheck

removing unnecessary code
  bootstrap-salt.sh
Due: shellcheck

Reverting script header back to origin line.
  bootstrap-salt.sh
Due: shellcheck

Some lint fixes.
  bootstrap-salt.sh
Due: shellcheck

removing Ubuntu 21.10 which is now EOL.
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

removing Ubuntu bits.
  .github/workflows/main.yml
Due: none

replace all references of tiamat to onedir
  bootstrap-salt.sh
Due: shellcheck

use SHA-256 key for Red Hat / CentOS relesaes 9 and over.
  bootstrap-salt.sh
Due: shellcheck

Adding missing amazon_linux_2 bits.
  bootstrap-salt.sh
Due: shellcheck

fixing the GPG_KEY path for rhel, onedir does not need a special path for centos 7.
  bootstrap-salt.sh
Due: shellcheck

Expanding cache to include vagrant boxes
  .github/workflows/kitchen.vagrant.yml
  .gitignore
Due: none

Add version for Salt version 3005.
  bootstrap-salt.sh
Due: shellcheck

Migrate changelog file to markdown
  CHANGELOG.md
  ChangeLog
Due: none

Autoformat markdown files pre-commit hook
  .pre-commit-config.yaml
Due: none

Automated release process
  .github/workflows/checksums.yml.bak
  .github/workflows/release.yml
  .github/workflows/scripts/cut-release.py
Due: none
