Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

Update README.rst with 2025.12.05 release sha256sum
  README.rst
Due: none

Update urllib3 to 2.6.0
  requirements/release.txt
Due: none

Update AUTHORS.rst with new contributor details
  AUTHORS.rst
Due: none

Add main.yml workflow configuration
  .github/workflows/main.yml
Due: generate-actions-workflow

Update filelock to v3.20.1
  requirements/release.in
  requirements/release.txt
Due: none

Update urllib3=2.6.3 and virtualenv=20.36.1
  .pre-commit-config.yaml
  requirements/release.in
  requirements/release.txt
Due: none

refactor: redundant logging
  bootstrap-salt.sh
Due: shellcheck

fix: reinstate the old method of setting `pip` global options
  bootstrap-salt.sh
Due: shellcheck

test: update `pre-commit` hooks
  .pre-commit-config.yaml
Due: none

test: enable `git-master` on Debian 11
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Fixes https://github.com/saltstack/salt-bootstrap/issues/2094 by changing reference to script var to in help message text.
  bootstrap-salt.sh
Due: shellcheck

Update develop branch for the v2026.01.15 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2026.01.15 release sha256sum
  README.rst
Due: none

Tidy/fix archlinux install - Arch no longer serves salt from the repos - Arch does server salt through AUR - create builduser - install salt - remove build user - ??? - profit
  bootstrap-salt.sh
Due: shellcheck

added paths: - /etc/profile.d/saltstack.sh - /opt/saltstack/salt - /opt/saltstack/salt/bin
  bootstrap-salt.sh
Due: shellcheck

Fix SALT_REPO_URL and mktemp command in salt-quick-start.sh
  salt-quick-start.sh
Due: none

regressed script version to 2026.01.15
  bootstrap-salt.sh
Due: shellcheck

Fix/accidental removal of install_arch_linux_stable replaced w fixed - aur & mkpkg build
  bootstrap-salt.sh
Due: shellcheck

removed localls, addressed missing func install_arch_linux_stable
  bootstrap-salt.sh
Due: shellcheck

bumped AUTHORS.rst
  AUTHORS.rst
Due: none

Update develop branch for the v2026.01.22 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2026.01.22 release sha256sum
  README.rst
Due: none

Update filelock to 3.20.3
  requirements/release.in
  requirements/release.txt
Due: none

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: bootstrap-salt\.sh
