Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
  language: docker_image

feat(windows): add CI testing using Kitchen's `proxy` driver
  .github/workflows/kitchen.windows.yml
  kitchen.windows.yml
  tests/conftest.py
  tests/integration/test_installation.py
Due: none

Update version for new release
  ChangeLog
  bootstrap-salt.sh
Due: shellcheck

feat(fedora-32): remove platform (EOL)
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

feat(ubuntu-1604): remove platform (EOL)
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

feat(oraclelinux-8): add CI for platform
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

feat(rockylinux-8): add CI for platform
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

feat(almalinux-8): add CI for platform
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2021.06.23 release sha256sum
  README.rst
Due: none

remove .0 jobs for amazon-2 since they will not pass until 3004.0 comes out
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

add salt 3003 tests
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/kitchen.windows.yml
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.windows.yml
  kitchen.yml
Due: generate-actions-workflow

more changes for 3003 tests
  .github/workflows/kitchen.vagrant.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.vagrant.yml
  kitchen.yml
Due: generate-actions-workflow

more changes for 3003 tests: part 2
  .github/workflows/main-branch-only.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

refactor(kitchen): provide general `run_command`
  kitchen.yml
Due: none

refactor(kitchen): remove unnecessary `image` entries (Fedora)
  kitchen.yml
Due: none

refactor(kitchen): use `driver` instead of `driver_config`
  kitchen.yml
Due: none

feat(kitchen): remove unnecessary platform `salt_bootstrap_options`
  kitchen.yml
Due: none

feat(kitchen): update to openSUSE Leap 15.3
  kitchen.yml
Due: none

refactor(kitchen): use YAML node anchors to minimise duplication
  kitchen.yml
Due: none

feat(freebsd): update packages from `py37-*` => `py38-*`
  .github/workflows/kitchen.vagrant.yml
  bootstrap-salt.sh
Due: shellcheck

Reflect changes after bumping Python to 3.8 in FreeBSD
  .github/workflows/kitchen.vagrant.yml
  bootstrap-salt.sh
Due: shellcheck

update unsupported versions
  bootstrap-salt.sh
Due: shellcheck

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
