Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.14
    hooks:
      - id: mdformat

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black

  - repo: https://github.com/s0undt3ch/python-tools-scripts
    rev: "0.12.0"
    hooks:
      - id: tools
        alias: actionlint
        name: Lint GitHub Actions Workflows
        files: "^.github/workflows/"
        types:
          - yaml
        args:
          - pre-commit
          - actionlint

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '^.github/workflows/.*$'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Blacklist Fedora-35 from latest so those are not available
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

removing Fedora 35, as it is EOL as of December 13, 2022.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Do not run git-master on Photon 4
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

making GPG_KEY and REPO_FILE uppercase.
  bootstrap-salt.sh
Due: shellcheck

Fixing typos.
  bootstrap-salt.sh
Due: shellcheck

Adding 3006 back in for Fedora
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Adding 3006 onedir back in for Fedora
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

some fixes to ensure git install works on Photon, in particular Photon 4.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

uppercasing more variables
  bootstrap-salt.sh
Due: shellcheck

Fixing a bug when no type or version is specified. Adding tests for when no type or version is passed.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

removing distros from latest blacklist which have latest packages available.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

fixing photon git installs, Using repo files for fedora and photon.
  bootstrap-salt.sh
Due: shellcheck

need to add photon-3 and photon-4 to list of Linux of distributions
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Updating bootstratp to install Salt built Fedora packages. Initial support for installing on Photon via bootstrap script
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

blacklist Photon 3 and 4 from a couple git installs.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

removing extra GIT_VERSIONS_BLACKLIST
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

skip test_installation when using default type as we do not have a version to compare.
  tests/conftest.py
Due: none

adding rockylinux-9 and centos-stream9 to stable distros.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

adding rockylinux-9 and centos-stream9 to stable distros.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

fix unbutu repo URL
  bootstrap-salt.sh
Due: shellcheck

switching to 2023's gpg key
  bootstrap-salt.sh
Due: shellcheck

revert gpg key change
  bootstrap-salt.sh
Due: shellcheck

Adding debugging for BSDs.
  .github/workflows/test-bsd.yml
Due: generate-actions-workflow

Update Vagrant.
  .github/workflows/test-bsd.yml
Due: generate-actions-workflow

Use upgrade instead of install to ensure vagrant is upgraded.
  .github/workflows/test-bsd.yml
Due: generate-actions-workflow

cleanup code adding default type.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

better cleanup for default bootstrap type.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Fixing defaults (#1921)
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-bsd.yml
  bootstrap-salt.sh
  kitchen.yml
  tests/conftest.py
Due: generate-actions-workflow, shellcheck

Update develop branch for the v2023.04.26 release
  CHANGELOG.md
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2023.04.26 release sha256sum
  README.rst
Due: none
