Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat

  - repo: https://github.com/s0undt3ch/python-tools-scripts
    rev: "0.18.6"
    hooks:
      - id: tools
        alias: actionlint
        name: Lint GitHub Actions Workflows
        files: "^.github/workflows/"
        types:
          - yaml
        args:
          - pre-commit
          - actionlint

  - repo: https://github.com/jazzband/pip-tools
    rev: 7.3.0
    hooks:
      - id: pip-compile
        files: ^requirements/release\.(in|txt)$
        args:
          - requirements/release.in

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        name: Rewrite Code to be Py3.9+
        args: [--py39-plus]

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.12.0
    hooks:
      - id: reorder-python-imports
        args: [--py39-plus]

  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        args: []

#  - repo: https://github.com/PyCQA/flake8
#    rev: 3.9.2
#    hooks:
#      - id: flake8
#        language_version: python3
#        additional_dependencies:
#          - flake8-mypy-fork
#          - flake8-docstrings
#          - flake8-typing-imports
#
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.0.0
#    hooks:
#      - id: mypy
#        alias: mypy-tools
#        name: Run mypy against tools
#        files: ^tools/.*\.py$
#        #args: [--strict]
#        additional_dependencies:
#          - attrs
#          - rich
#          - types-attrs
#          - types-pyyaml
#          - types-requests

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '^.github/workflows/.*$'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

fix(bootstrap): support -N package-release suffix in Salt version strings
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update develop branch for the v2026.07.23 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2026.07.23 release sha256sum
  README.rst
Due: none

fix(bootstrap): rewrite salt.sources URIs to honor -R custom repo URL on Debian/Ubuntu
  bootstrap-salt.sh
  tests/integration/test_installation.py
Due: shellcheck

test: skip custom-repo-url regression test where bash/sed isn't GNU
  tests/integration/test_installation.py
Due: none

ci(test-linux): wait for container to finish booting before running pip/bootstrap
  .github/workflows/test-linux.yml
  tests/integration/test_installation.py
Due: generate-actions-workflow

ci(test-linux): boot test containers into rescue.target correctly
  .github/workflows/test-linux.yml
Due: generate-actions-workflow

Update develop branch for the v2026.08.03 release
  CHANGELOG.md
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

Update README.rst with 2026.08.03 release sha256sum
  README.rst
Due: none

fix(bootstrap): use apt-helper to fetch GPG key for authenticated custom repos
  bootstrap-salt.sh
Due: shellcheck

fix(bootstrap): try curl/wget before apt-helper in __apt_key_fetch
  bootstrap-salt.sh
Due: shellcheck

test: pin charset-normalizer below 3.5.0 to fix Python 3.14 CI failures
  tests/requirements.txt
Due: none

fix(bootstrap): add missing install_ubuntu_onedir_post function
  bootstrap-salt.sh
Due: shellcheck

Fix checking out a branch on in existing repo
  bootstrap-salt.sh
Due: shellcheck

Avoid mutating GIT_REV_ADJ when resolving origin branch ref
  bootstrap-salt.sh
Due: shellcheck

Add openssl pkg to alpine to provide libcrypto
  bootstrap-salt.sh
Due: shellcheck

Write alpine service scripts directly
  bootstrap-salt.sh
Due: shellcheck

Drop non-POSIX 'local' keyword to fix shellcheck SC3043
  bootstrap-salt.sh
Due: shellcheck

Fix pip --version check to use exit code and refresh version after fallback
  bootstrap-salt.sh
Due: shellcheck

Use pip from specified python version
  bootstrap-salt.sh
Due: shellcheck

feat(altlinux): add ALT Linux 10/11 support
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  AUTHORS.rst
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

fix(bootstrap): map ALT Linux os-release ID to distro name
  bootstrap-salt.sh
Due: shellcheck
