Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

Gentoo installs are broken because of the Gentoo ebuild. Remove Mac 10.15 as it is EOL. Update BSD tests tor run on MacOS 11.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

If the brew update vagrant fails because it is not installed then install it.
  .github/workflows/test-bsd.yml
Due: generate-actions-workflow

blacklist gentoo from latest packages.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Make sure virtualbox is installed
  .github/workflows/test-bsd.yml
Due: generate-actions-workflow

removing cask argument
  .github/workflows/test-bsd.yml
Due: generate-actions-workflow

swap macos-11 for macos-12 to run BSD tests in vagrant.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-bsd.yml
Due: generate-actions-workflow

added missing _ONEDIR_DIR to URLs
  bootstrap-salt.sh
Due: shellcheck

now checking for "salt-" as well as "/salt/run/run"
  bootstrap-salt.sh
Due: shellcheck

add an old_stable install type to avoid cluttering up stable with older non-onedir installs
  bootstrap-salt.sh
Due: shellcheck

removing note about default install type.
  bootstrap-salt.sh
Due: shellcheck

update kitchen file.
  kitchen.yml
Due: none

updating github workflows to tests with old_stable type
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

blacklist versions 3003 and 3004 for stable, those are now in old_stable.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

fix script to include old_stable during the installation type check.
  bootstrap-salt.sh
Due: shellcheck

make sure old-stable is consistent.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.yml
Due: generate-actions-workflow, shellcheck

use install_centos_onedir_deps when installing via git on centos like distros
  bootstrap-salt.sh
Due: shellcheck

Handle stable install of 3005 version without a minor version
  bootstrap-salt.sh
Due: shellcheck

block git-master on amazon-2 and debian-10
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

SUSE Fixes (#1925)
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-bsd.yml
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

need seperate blacklists for Mac, since stable 3005 is not available as a onedir package.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

update kitchen.macos.yml to ensure 3003, 3004, and 3005 are old-stable.
  kitchen.macos.yml
Due: none

need to include the salt_bootstrap_options to ensure we get the right install type.
  kitchen.macos.yml
Due: none

ensure ITYPE is set to stable when minor version is included.
  bootstrap-salt.sh
Due: shellcheck

git master installs failing on freebsd
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Add old_stable type (#1934)
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
  kitchen.macos.yml
  kitchen.yml
Due: generate-actions-workflow, shellcheck

Test out the minor versions
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

update the maxsplit for the target_salt_version to account for minor versions passed in with dashes because kitchen does not like dots.
  tests/conftest.py
Due: none

Blacklist 3005-1 and 3006-1 for git.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

different approach to getting the target salt version
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  tests/conftest.py
Due: generate-actions-workflow

Adding missing kitchen files.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.macos.yml
  kitchen.windows.yml
Due: generate-actions-workflow

Test out the minor versions (#1936)
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.macos.yml
  kitchen.windows.yml
  kitchen.yml
  tests/conftest.py
Due: generate-actions-workflow

Update develop branch for the v2023.06.28 release
  CHANGELOG.md
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2023.06.28 release sha256sum
  README.rst
Due: none

fix rhel_onedir_repository for nightly gpg file
  bootstrap-salt.sh
Due: shellcheck

Initial pass at adding a quick start option to the bootstrap script.
  bootstrap-salt.sh
Due: shellcheck

moving the logic for quickstart down to ensure install type and install revision are set correctly for quickstart.
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

need some defaults for quickstart and auto accept keys.
  bootstrap-salt.sh
Due: shellcheck

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: bootstrap-salt\.sh
