Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Debian 11 (bullseye/testing) support using Debian 10 packages
  README.rst
  bootstrap-salt.sh
Due: shellcheck

add debian-11 tests
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

Gentoo - install Salt 3000 (GIT) with Python 3.7.
  .kitchen.yml
  bootstrap-salt.sh
Due: shellcheck

Gentoo - install Salt 2019 (GIT) with msgpack <1.0.
  .github/workflows/main-branch-only.yml
  .github/workflows/templates/generate.py
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Gentoo - disable x.0 version tests.
  .github/workflows/main-branch-only.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

Adding examples using stable; adding help output
  README.rst
Due: none

Gentoo - use ksmanis/stage3 image
  .kitchen.yml
  bootstrap-salt.sh
Due: shellcheck

Added www/py-tornado4 package as requirment for freebsd #1521
  bootstrap-salt.sh
Due: shellcheck

FreeBSD also needs the _PKI_DIR reset
  bootstrap-salt.sh
Due: shellcheck

move everything to point at saltproject.io urls
  AUTHORS.rst
  CONTRIBUTING.md
  LICENSE
  README.rst
  bootstrap-salt.ps1
  bootstrap-salt.sh
Due: shellcheck

update supported oses
  .github/workflows/main-branch-only.yml
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

upgrade the minimum pip version
  bootstrap-salt.sh
Due: shellcheck

limit pip to < 21.0 for python 3.5
  bootstrap-salt.sh
Due: shellcheck

fix(opensuse): fix & add CI for openSUSE Tumbleweed
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
  bootstrap-salt.sh
Due: generate-actions-workflow, shellcheck

Add Ubuntu 20.10 support using Ubuntu 20.04 packages Remove support for Debian 8 Remove support for Ubuntu 14.04, 18.10, 19.04, and 19.10
  README.rst
  bootstrap-salt.sh
Due: shellcheck

feat(ps1): implement configure only option (for Vagrant)
  bootstrap-salt.ps1
Due: none

feat(ps1): implement Vagrant grains_config option
  bootstrap-salt.ps1
Due: none

refactor(ps1): use similar copy command for Vagrant minion key files
  bootstrap-salt.ps1
Due: none

fix(ps1): missing comma
  bootstrap-salt.ps1
Due: none

apt-key is deprecated on debian10+ and ubuntu20+
  bootstrap-salt.sh
Due: shellcheck

ci(oraclelinux): add CI for Oracle Linux 7
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  .kitchen.yml
Due: generate-actions-workflow

refactor(kitchen): prefer `kitchen.yml` to `.kitchen.yml`
  .gitignore
  kitchen.yml
Due: none

use https for fetching gem
  Gemfile
Due: none

Just a better name
  .github/workflows/checksums.yml
Due: none

Additionally, open a PR against Salt
  .github/workflows/checksums.yml
  .github/workflows/release.yml
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

Update version for release
  bootstrap-salt.sh
Due: shellcheck

Update AUTHORS and ChangeLog
  AUTHORS.rst
  ChangeLog
Due: none

Support the upcoming Salt 3003 release
  bootstrap-salt.sh
Due: shellcheck
