Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.6.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Add Ubuntu 20.10 support using Ubuntu 20.04 packages Remove support for Debian 8 Remove support for Ubuntu 14.04, 18.10, 19.04, and 19.10
  README.rst
  bootstrap-salt.sh
Due: shellcheck

Update sha256 checksums
  bootstrap-salt.ps1.sha256
  bootstrap-salt.sh.sha256
Due: shellcheck

Update README.rst with 2021.03.02 release sha256sum
  README.rst
Due: none

fix(arch): remove `python2-futures` package (moved to AUR)
  bootstrap-salt.sh
Due: shellcheck

ci(arch): add CI for `latest-arch`
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Added flag to only set up salt package repo and dependencies
  bootstrap-salt.sh
Due: shellcheck

ci(kitchen): use new Arch Linux image (previous is deprecated)
  kitchen.yml
Due: none

feat(fedora): add CI for Fedora 34 & 35
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

Add Ubuntu 21.04 support using Ubuntu 20.04 packages
  README.rst
  bootstrap-salt.sh
Due: shellcheck

Gentoo - relax setuptools version upper bound
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

Add a stubber support for Ubuntu 21.04 non-LTS to use Ubuntu 20.04 packages.
  bootstrap-salt.sh
Due: shellcheck

shorten bits
  bootstrap-salt.sh
Due: shellcheck

Add Ubuntu 21.04 to CI
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Fix pre-commit and workflow
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Fix kitchen
  kitchen.yml
Due: none

Add FreeBSD versions to README
  README.rst
Due: none

Remove 3002.0 check for Ubuntu 21.04
  .github/workflows/main.yml
Due: none

f
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Add Ubuntu 21.04 to CI (#1560)
  .github/workflows/main.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

change curl command to fetch_url func
  bootstrap-salt.sh
Due: shellcheck

use salt.list instead of saltstack.list similar to the instructions on https://repo.saltproject.io
  bootstrap-salt.sh
Due: shellcheck

use salt.repo instead of saltstack.repo or others
  bootstrap-salt.sh
Due: shellcheck

feat(bsd): add CI testing using Kitchen's `vagrant` driver
  .github/workflows/kitchen.vagrant.yml
  Gemfile
  kitchen.vagrant.yml
  kitchen.yml
Due: none

feat(windows): add CI testing using Kitchen's `proxy` driver
  .github/workflows/kitchen.windows.yml
  kitchen.windows.yml
  tests/conftest.py
  tests/integration/test_installation.py
Due: none
