Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against bootstrap-salt.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
  language: docker_image

feat(bootstrap-salt): add Debian-specific `onedir nightly`
  bootstrap-salt.sh
Due: shellcheck

feat(bootstrap-salt): add Amazon-specific `onedir nightly`
  bootstrap-salt.sh
Due: shellcheck

feat(bootstrap-salt): add RedHat-specific `onedir nightly`
  bootstrap-salt.sh
Due: shellcheck

test(conftest): skip Salt version test for `nightly`
  tests/conftest.py
Due: none

feat(generate): add `onedir-nightly` generation => CI
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

ci(kitchen): add `onedir-nightly` suite
  kitchen.yml
Due: none

refactor(generate): use `STABLE_VERSION_BLACKLIST` consistently
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

removing references that might indicate that Ubuntu 16.04 might be supported by the bootstrap script.
  README.rst
  bootstrap-salt.sh
Due: shellcheck

refactor(salt-bootstrap): use virtual `pyzmq` package on Tumbleweed
  bootstrap-salt.sh
Due: shellcheck

fix(salt-bootstrap): use correct installation type in error messages
  bootstrap-salt.sh
Due: shellcheck

ci(fedora-37): add platform
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

ci(fedora-38): add platform
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

feat(generate): use temp. workaround to avoid `git` builds on Fedora 37+
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Use amd64 repos for anything older than Debian 11 since the packages are arch-indepedant
  bootstrap-salt.sh
Due: shellcheck

Added Pop!_OS as a Ubuntu derivative
  bootstrap-salt.sh
Due: shellcheck

removing debian 11.
  bootstrap-salt.sh
Due: shellcheck

Do not need check for Ubuntu. Workaround already in place to use older 20.04 packages for stable.
  bootstrap-salt.sh
Due: shellcheck

Adding newer versions of CentOS Stream, AlmaLinux, and Rocky Linux
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Adding entries to kitchen.yml
  kitchen.yml
Due: none

Need ssh-rsa for RockyLinux 9.
  kitchen.yml
Due: none

need to install and run update-crypto-policies to allow RSA keys to work via SSH on RockLinux and Almalinux.
  kitchen.yml
Due: none

fixing YAML.
  kitchen.yml
Due: none

Need procps-ng on Almalinux 9 and Rockylinux 9
  kitchen.yml
Due: none

fixing typo. procps-ng instead of procps-nf.
  kitchen.yml
Due: none

blacklist almalinux-9, rockylinux-9, and centos-stream9 for latest.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Set ONEDIR_REV incase we end up calling install_centos_onedir_deps.
  bootstrap-salt.sh
Due: shellcheck

Add support for KDE neon based on Ubuntu 22.04
  README.rst
  bootstrap-salt.sh
Due: shellcheck

bump the version of koalaman/shellcheck-alpine up
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

account for different paths for the systemd service files in later versions.
  bootstrap-salt.sh
Due: shellcheck

Account for new location for systemd and upstart files on Debian and Ubuntu.
  bootstrap-salt.sh
Due: shellcheck

Account for new location for systemd files on Fedora.
  bootstrap-salt.sh
Due: shellcheck

Account for new location for systemd files on OpenSUSE.
  bootstrap-salt.sh
Due: shellcheck

Account for new location for systemd files on Arch.
  bootstrap-salt.sh
Due: shellcheck

Account for new location for systemd files on Gentoo.
  bootstrap-salt.sh
Due: shellcheck

Update install_ubuntu_git and install_debian_git to account for different locations for the systemd service files.
  bootstrap-salt.sh
Due: shellcheck

readme: improve windows install guidance
  README.rst
Due: none

ci: update shellcheck container version
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
Due: generate-actions-workflow

bootstrap-salt.ps1: [docs] improve links
  bootstrap-salt.ps1
Due: none

Path conditions:
  generate-actions-workflow: any of: .github/workflows/templates/.*
  shellcheck: any of: bootstrap-salt\.sh
