Repository saltstack/salt-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '.github/workflows/templates/.*'
        language: script

      - id: shellcheck
        name: Run ShellCheck against bootstrap-salt.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s sh -f tty
        files: 'bootstrap-salt\.sh'
        language: docker_image

Adding upterm to debug
  .github/workflows/test-linux.yml
Due: none

swapping upterm for tmate
  .github/workflows/test-linux.yml
Due: none

moving tmate step down.
  .github/workflows/test-linux.yml
Due: none

Adding conditional for tmate step so it only (hopefully) runs for onedir-3005-amazon-2
  .github/workflows/test-linux.yml
Due: none

adjusting if statement.
  .github/workflows/test-linux.yml
Due: none

just run tmate on onedir jobs
  .github/workflows/test-linux.yml
Due: none

single quotes not double quotes.
  .github/workflows/test-linux.yml
Due: none

test forcing the docker tests to run on ubuntu 20.04.
  .github/workflows/test-linux.yml
Due: none

removing tmate.
  .github/workflows/test-linux.yml
Due: none

Fix runner label.
  .github/workflows/test-linux.yml
Due: none

Do not change the systemd files for Fedora 36+
  bootstrap-salt.sh
  kitchen.yml
Due: shellcheck

disable gentoo tests
  kitchen.yml
Due: none

testing change to kitcken-docker for Gentoo hosts.
  Gemfile
  kitchen.yml
Due: none

revert back to official repo, fix merged in.
  Gemfile
Due: none

Adding 3005 and onedir to various bits
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  kitchen.yml
Due: generate-actions-workflow

trying to limit the number of parallel jobs
  .github/workflows/test-linux.yml
Due: none

removing debian 9
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Adding tests for installing onedir packages
  kitchen.yml
Due: none

Only add onedir for supported versions.
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Adding stable 3005 instanes to MacOS and Windows.
  kitchen.macos.yml
  kitchen.windows.yml
Due: none

adding 3005 kitchen instances.
  kitchen.yml
Due: none

removing more EPEL references. Ensuring procps is installed on Red Hat based hosts.
  bootstrap-salt.sh
Due: shellcheck

Removing EPEL, which is no longer needed.
  bootstrap-salt.sh
Due: shellcheck

feat(bootstrap-salt): add common `onedir nightly` adjustments
  bootstrap-salt.sh
Due: shellcheck

feat(bootstrap-salt): add Ubuntu-specific `onedir nightly`
  bootstrap-salt.sh
Due: shellcheck
